.product__card {
    position: relative;
    height: 100%;
}

.product__card-info {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.product__card-img-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
.product__card-info .bg-gray {
    min-height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product__card-info-name {
    margin-bottom: 0.2rem;
}

.product__card-info h2 {
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

.product__card-info p {
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
}

.product__card-detail {
    display: flex;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(1, 1, 1, 0.5);
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.product__card-detail h3 {
    font-size: 3rem;
}

.product__card:hover .product__card-detail {
    opacity: 1;
    cursor: pointer;
}