.home {
    margin-top: -56px;
}

.home__banner {
    position: relative;
}

.home__banner-title {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    color: white;
    text-align: right;
}

.home__banner-title h1 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 0;
}

.home__banner-title h2 {
    font-family: 'Abel', sans-serif;
    font-size: 1rem;
}

.home__process {
    margin: 2rem 0;
}

.home__process-title {
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
}

.home__process-title::after, .home__process-title::before {
    content: " — ";
    color: var(--main-bg-color);
}

.home__process-subtitle {
    font-weight: 300;
    text-align: center;
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.home__process-steps {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.home__catalogue-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    padding: 2rem;
}

.home__catalogue-description h1 {
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.home__catalogue-description p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.home__benefits h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 3rem;
    margin: 1rem;
}

.home__benefits {
    margin-bottom: 1rem;
}

.home__apple {
    position: relative;
    min-height: 15rem;
    background-color: var(--main-bg-color);
    /* display: flex;
    justify-content: center; */
}

.home__apple img {
    min-height: 20rem;
}

.home__apple-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 90%;
    text-align: center;
}

.home__apple-text h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
}

.home__apple-text p {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
}

.home__info {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home__info h1 {
    color: black;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2rem;
}

@media (min-width: 600px) {
    .home__banner-title h1 {
        font-size: 4rem;
    }
    .home__banner-title h2 {
        font-size: 2rem;
    }
    .home__process-title {
        font-size: 3rem;
        margin: 2rem 0;
    }
    .home__process-subtitle {
        font-size: 1.75rem;
        margin-bottom: 2rem;
    }
    .home__catalogue-description h1 {
        margin-bottom: 1.5rem;
    }
    .home__catalogue-description p {
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }
    .home__benefits h1 {
        margin: 2rem;
    }
    .home__benefits {
        margin-bottom: 2rem;
    }
    .home__apple-text {
        width: 70%;
    }
    .home__apple-text h2 {
        font-size: 4rem;
        margin-bottom: 2rem;
    }
    .home__apple-text p {
        font-size: 2.5rem;
    }
    .home__info {
        margin: 4rem;
    }
}