.home {
    margin-top: -90px;
}

.home__banner {
    position: relative;
}

.home__banner-title {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    color: white;
    text-align: right;
}

.home__banner-title h1 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 0;
}

.home__banner-title h2 {
    font-family: 'Abel', sans-serif;
    font-size: 1rem;
}

.home__process {
    margin: 2rem 0;
}

.home__process-title {
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
}

.home__process-title::after, .home__process-title::before {
    content: " — ";
    color: var(--main-bg-color);
}

.home__process-subtitle {
    font-weight: 300;
    text-align: center;
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.home__process-steps {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.home__table {
    margin: 2rem 0;
}

.home__table img {
    width: 100%;
    max-height: 80vh;
}

.home__catalogue {
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 600px) {
    .home__banner-title h1 {
        font-size: 4rem;
    }
    .home__banner-title h2 {
        font-size: 2rem;
    }
    .home__process-title {
        font-size: 3rem;
        margin: 2rem 0;
    }
    .home__process-subtitle {
        font-size: 1.75rem;
        margin-bottom: 2rem;
    }
    .home__table {
        margin: 3rem 0;
    }
    .home__catalogue {
        margin: 3rem 0;
    }
}